html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      ms-text-size-adjust: 100%;
}
body{
  margin:0;

}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
.nav-pills{
  position: 5%;



}
.carousel-inner {
  position:30%;
  background-size: auto;
  size: 30px;
margin-bottom:10px;
margin-top: 10px;
}
.item{
  size:auto;
  margin:20px;
margin-bottom:20px;
margin-top: 20px;

}
.glyphicon{
  size: 20px;
  margin: auto;
  display: block;

}
.glyphicon-star{
  size:2px;
  margin: 2%;

}
